/* ******************************************
Typography
****************************************** */
html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @include bp(sm) {
    font-size: 110%;
  }

  @include bp(md) {
    font-size: 115%;
  }

  @include bp(md2) {
    font-size: 118%;
  }
}

p,
li {
  font-family: $font-stack-main;
  color: $primary-color;
  font-size: 1.25em;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: .005rem;
}

a:link,
a:visited {
  transition: all 0.3s ease;
}

::-moz-selection {
  background: $secondary-color;
  color: #fff;
}

::selection {
  background: $secondary-color;
  color: #fff;
}
