// Base
@import "base/normalize";
@import "base/resets";
@import "base/vars";
@import "base/mixins";
@import "base/fonts";
@import "base/globals";
@import "base/typography";


// Layout
@import "layout/areas";
@import "layout/footer";
@import "layout/header";
@import "layout/nav";


// Modules
@import "module/info.scss";
@import "module/projects.scss";
