// Base
@import "base/normalize";
@import "base/resets";
@import "base/icons";
@import "base/typography";
@import "base/globals";

// Layout
@import "layout/nav";
@import "layout/areas";
@import "layout/projects";


// Module





/* ******************************************
  Media Queries for screen wider than 500px
****************************************** */
@media screen and (min-width: 31.25em){
  body {
    font-size: 110%;
  }

  #container-header {
    font-size: 120%;
  }

  #work figure {
    float: left;
    width: 50%;
  }

  #colophon p {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .work-item-text {
    max-width: 85%;
  }
}

/* ******************************************
  Media Queries for screen wider than 900px
****************************************** */
@media screen and (min-width: 56.25em){
  #container-header, #container-content {
    margin: 0 auto;
  }

  body {
    font-size: 125%;
  }

  #container-header {
    font-size: 120%;
  } 

  h1 {
    border-top: 2px solid #3d343f;
    border-bottom: 2px solid #3d343f;
  }

  #work figure {
    float: left;
    width: 33.333333333333333%;
  }

  #about {
    float: left;
    width: 50%;
    border-right: 1px dotted #d4d4d4;
    padding-top: 2.7em;
    padding-bottom: 3.6em;
  }

  #skills {
    padding-top: 2.7em;
  }

  #skills, #contact {
    float: right;
    width: 50%;
  }

  #contact {
    padding-bottom: 3.6em;
    padding-top: 2.135em;
  }

  .wrapper {
    padding: 0 1.8em;
  }

  .work-item-text {
    width: 70%;
    max-width: 48em;
    margin: 4em auto;
  }

  .annualreport-top img {
    width: 60%;
  }

  .coc-rebranding-top img {
    width: 60%;
  }

  .recruitment-top img {
    width: 65%;
  }

  .half {
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }

  .full {
    float: left;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }

  .quarter {
    display: inline-block;
    width: 46%;
  }

  #colophon p {
    font-size: 80%;
  }
}


/* ******************************************
  Media Queries for screen wider than 1400px
****************************************** */
@media screen and (min-width: 87.5em){

  body {
    font-size: 150%;
  }

  .annualreport-top img {
    width: 50%;
    max-width: 37em;
  }

  .wrapper {
    padding: 0 2.7em;
  }

  .work-item-annualreport {
    padding: 5% 8% 0 8%;
  }

  .gallery {
    width: 100%;
    max-width: 69em;
    margin: 0 auto;
  }
}


/* ******************************************
  Media Queries for screen wider than 1800px
****************************************** */
@media screen and (min-width: 112.5em){
  .info {
    margin: 0 auto;
    max-width: 90em;
    font-size: 115%;
  }

  .wrapper {
    padding: 0 3.15em;
  }
}
