// Base
@import "base/normalize";
@import "base/resets";





/* ******************************************
	Web Fonts
****************************************** */
@font-face {
  font-family: 'jlaw-icons';
  src:url('../fonts/jlaw-icons.eot?-tuycs4');
  src:url('../fonts/jlaw-icons.eot?#iefix-tuycs4') format('embedded-opentype'),
    url('../fonts/jlaw-icons.woff?-tuycs4') format('woff'),
    url('../fonts/jlaw-icons.ttf?-tuycs4') format('truetype'),
    url('../fonts/jlaw-icons.svg?-tuycs4#jlaw-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*="icon"] {
  font-family: 'jlaw-icons';
  speak: none;
  font-size: 1em;
  color: #3d343f;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_previous:before {
  content: "\e601";
}
.icon_next:before {
  content: "\e602";
}
.icon_grid:before {
  content: "\e605";
}



/* ******************************************
	Typography
****************************************** */ 
html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p, li {
  font-family: "athelas", Georgia, serif;
  color: #3d343f;
  font-size: 1.25em;
  line-height: 1.44;
  font-style: normal;
}

h1 {
  font-family: "league-gothic", sans-serif;
  font-weight: normal;
  font-size: 5.125em;
  line-height: 1;
  color: #3d343f;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2.25em;
  color: #54be8e;
  font-family: "league-gothic", sans-serif;
  font-weight: 400;
  line-height: 1.44;
  text-transform: uppercase;
}

.strapline {
	font-size: 1.1875em;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

#nav li {
  font-family: "league-gothic", sans-serif;
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  color: #54be8e;
  font-weight: 400;
}

a:link, a:visited {
  transition: all 0.3s ease;
}

#nav a:link, #nav a:visited {
  color: #54be8e;
  text-decoration: none;
  opacity: 1;
}

#nav a:hover, #nav a:active, #nav a:focus {
  opacity: .5;
  transition: opacity 0.3s ease;
}

#skills li {
  list-style-position: inside;
}

#contact a:link, 
#contact a:visited {
  color: #54be8e;
  text-decoration: none;
  border-bottom: 1px dotted #54be8e;
  transition: all 0.3s ease;
}

.work-item-text a:link, 
.work-item-text a:visited {
  color: #3d343f;
  text-decoration: none;
  border-bottom: 1px solid #b7b7b7;
  transition: all 0.3s ease;
}


#contact a:hover, 
#contact a:active,
.work-item-text a:hover, 
.work-item-text a:active {
  color: #fff;
  background-color: #54be8e;
  text-decoration: none;
  border-bottom: none;
}

#container-footer p {
  color: #fff;
	font-family: "athelas", Georgia, serif;
	font-size: 0.875em;
	line-height: 1.44;
	font-style: normal;
	text-align: center;
}

.work-item-text {
  max-width: 90%;
  margin: 3em auto;
}

.work-item-text h2 {
  font-family: "league-gothic", sans-serif;
  font-weight: normal;
  font-size: 2.1em;
  line-height: 1.05em;
  color: #3d343f;
  text-transform: none;
  text-align: center;
}

.work-item-text h4 {
  font-family: "athelas", Georgia, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.1em;
  color: #54be8e;
  text-align: center;
  padding-top: .3em;
  padding-bottom: .8em;
}

.work-item-text p {
  font-family: "athelas", Georgia, serif;
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.44;
  color: #3d343f;
  text-align: center;
  padding-top: .8em;
  border-top: 1px solid #ccc;
}

::-moz-selection {
  background: #54be8e;
  color: #fff;
}

::selection {
  background: #54be8e;
  color: #fff;
}

/* ******************************************
Navigation Styles
****************************************** */
#nav ul {
  text-align: center;
  margin: 0 auto;
}

#nav li {
  list-style: none;
  list-style-type:none;
  display: inline-block;
  padding: 0 .4em;
  margin: 0;
  border-right: 1px solid #d3d3d3;
  text-align: left;
}

#nav li:first-child {
	padding-left: 0;
}

#nav .last-child {
	border: none;
  padding-right: 0;
}

.nav-a {
  margin: 0;
  padding: 0;
}


/* ******************************************
Layout Styles
****************************************** */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  border-top: 5px solid #54be8e;
  background-color: #fff;
}

h1 {
  display: inline-block;
	padding: .04em 0 0 0;
	border-top: 1px solid #3d343f;
	border-bottom: 1px solid #3d343f;
  margin: 0 auto;
}

.strapline {
  padding-bottom: .06em;
}

img {
	max-width: 100%;
  height: auto;
  display: block;
  
  /* CSS Tricks IE Hack */
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.fig {
  margin-bottom: 0em;
  }

#masthead {
	padding: 1em 0 .65em 0;
	margin: 0 auto;
  text-align: center;
}

#nav {
  padding-bottom: 1.75em;
}

#about, #skills, #contact {
	padding-top: 1.8em;
	width: 90%;
	margin: 0 auto;
}

#contact {
  padding-bottom: 3.6em;
}

#container-footer {
	background: #3d343f;
	margin: 0;
	padding: 1em .5em;
}

#colophon {
  text-align: center;
  margin: 0 auto;
}

.fig {
  background-color: #d7d7d7;
  opacity: 1;
  transition: all 0.4s ease;
}

.fig:hover {
  opacity: .8;
  transition: all .9s ease;
}


/* ******************************************
Projects Layout Styles
****************************************** */


#container-content img {
  width: 100%;
}

.work-item article {
  padding-bottom: 0;
}

.topimg {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 8%;
  padding-right: 8%;
  display: block;
  text-align: center;
}

.wood {
  background-color: #d1d1d1;
  background-image: url(../img/woodbg.jpg);
  background-size: cover;
}

.dtw-top {
  background-color: #d1d1d1;
  background-image: url(../img/wood2.jpg);
  background-size: cover;
}

.wall {
  background-color: #d1d1d1;
  background-image: url(../img/wallbg.jpg);
}

.annualreport-top img, .recruitment-top img, .coc-rebranding-top img {
  width: 85%;
  max-width: 37em;
  margin: 0 auto;
}

.bleed-top {
  background-color: #315563;
}

.bleed-top img {
  margin: 0 auto;
}

.cocweb-top {
  background-color: #d7d7d7;
}

.cocweb-top img{
  margin: 0 auto;
}

.work-item-area {
  padding: 5% 5% 0 5%;
  margin-bottom: 0;
  background-color: #d7d7d7;
}

.work-item-area figure {
  padding-bottom: 5%;
}

.work-item-area img {
  margin: 0 auto;
}

.surface {
  background-image: url(../img/surface.jpg);
}

.shadow img {
  box-shadow: 2px 3px 5px 1px rgba(0,0,0,.7);
}

.fixed {
  max-width: 80em;
  margin: 0 auto;
}

.row {
  padding-bottom: 5%;
}

.work-nav {
  text-align: center;
  padding-top: 1em;
  padding-bottom: .75em;
}

.work-nav li {
  display: inline-block;
}

.work-nav li {
  padding: 0 .4em;
}

.work-nav a:link, .work-nav a:visited{
  text-decoration: none;
}

.work-nav a:hover, .work-nav a:active {
  opacity: .6;
  transition: opacity 0.3s ease;
}

.gallery {
  background: #d7d7d7;
}




/* ******************************************
  Media Queries for screen wider than 500px
****************************************** */
@media screen and (min-width: 31.25em){
  body {
    font-size: 110%;
  }

  #container-header {
    font-size: 120%;
  }

  #work figure {
    float: left;
    width: 50%;
  }

  #colophon p {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }

  .work-item-text {
    max-width: 85%;
  }
}

/* ******************************************
  Media Queries for screen wider than 900px
****************************************** */
@media screen and (min-width: 56.25em){
  #container-header, #container-content {
    margin: 0 auto;
  }

  body {
    font-size: 125%;
  }

  #container-header {
    font-size: 120%;
  } 

  h1 {
    border-top: 2px solid #3d343f;
    border-bottom: 2px solid #3d343f;
  }

  #work figure {
    float: left;
    width: 33.333333333333333%;
  }

  #about {
    float: left;
    width: 50%;
    border-right: 1px dotted #d4d4d4;
    padding-top: 2.7em;
    padding-bottom: 3.6em;
  }

  #skills {
    padding-top: 2.7em;
  }

  #skills, #contact {
    float: right;
    width: 50%;
  }

  #contact {
    padding-bottom: 3.6em;
    padding-top: 2.135em;
  }

  .wrapper {
    padding: 0 1.8em;
  }

  .work-item-text {
    width: 70%;
    max-width: 48em;
    margin: 4em auto;
  }

  .annualreport-top img {
    width: 60%;
  }

  .coc-rebranding-top img {
    width: 60%;
  }

  .recruitment-top img {
    width: 65%;
  }

  .half {
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }

  .full {
    float: left;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }

  .quarter {
    display: inline-block;
    width: 46%;
  }

  #colophon p {
    font-size: 80%;
  }

}


/* ******************************************
  Media Queries for screen wider than 1400px
****************************************** */
@media screen and (min-width: 87.5em){

  body {
    font-size: 150%;
  }

  .annualreport-top img {
    width: 50%;
    max-width: 37em;
  }

  .wrapper {
    padding: 0 2.7em;
  }

  .work-item-annualreport {
    padding: 5% 8% 0 8%;
  }

  .gallery {
    width: 100%;
    max-width: 69em;
    margin: 0 auto;
  }
}


/* ******************************************
  Media Queries for screen wider than 1800px
****************************************** */
@media screen and (min-width: 112.5em){
  .info {
    margin: 0 auto;
    max-width: 90em;
    font-size: 115%;
  }

  .wrapper {
    padding: 0 3.15em;
  }

}


/* ***********************************************************
Float Clearing http://nicolasgallagher.com/micro-clearfix-hack
*********************************************************** */

.group:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  clear: both;
}

/* Clearfix */

.group {
  *zoom: 1;
}


/* ******************************************
box-sizing polyfill, IE7 and below 
****************************************** */

.wrapper {
  *behavior: url("http://favorablemagnetism.com/js/boxsizing.htc");
}

