/* ******************************************
Layout
****************************************** */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  border-top: 3px solid $secondary-color;
  background-color: #fff;
}

.container-content {
  img {
    width: 100%;
  }
}

.container-header, 
.container-content {
  @include bp(md) {
    margin: 0 auto;
  }
}

h1 {
  display: inline-block;
	padding: .04em 0 0 0;
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
  margin: 0 auto;
  @include bp(md) {
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}

.strapline {
  padding-bottom: .06em;
}

img {
	max-width: 100%;
  height: auto;
  display: block;
  
  /* CSS Tricks IE Hack */
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.masthead {
	padding: 1em 0 .65em 0;
	margin: 0 auto;
  text-align: center;
}

.nav {
  padding-bottom: 1.75em;
}

.about, 
.skills, 
.contact {
	width: 90%;
	margin: 0 auto;
  padding-top: 1.8em;
}

.about {
  @include bp(md) {
    float: left;
    width: 50%;
    border-right: 1px dotted #d4d4d4;
    padding: 2.7em 1.8em 3.6em 1.8em;
    padding-bottom: 3.6em;
  }
  @include bp(lg) {
    padding-right: 2.7em;
    padding-left: 2.7em;
  }
  @include bp(xlg) {
    padding-right: 3.15em;
    padding-left: 3.15em;
  }
}

.skills {
  @include bp(md) {
    padding: 2.7em 1.8em 0 1.8em;
    float: right;
    width: 50%;
  }
  @include bp(lg) {
    padding-right: 2.7em;
    padding-left: 2.7em;
  }
  @include bp(xlg) {
    padding-right: 3.15em;
    padding-left: 3.15em;
  }  
}

.contact {
  padding-bottom: 3.6em;
  @include bp(md) {
    float: right;
    width: 50%;
    padding: 2.135em 1.8em 3.6em 1.8em;
  }
  @include bp(lg) {
    padding-right: 2.7em;
    padding-left: 2.7em;
  }
  @include bp(xlg) {
    padding-right: 3.15em;
    padding-left: 3.15em;
  }  
}

.container-footer {
	background: $primary-color;
	margin: 0;
	padding: 1em .5em;
}

.colophon {
  text-align: center;
  margin: 0 auto;
  p {
    @include bp(sm) {
      display: inline-block;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.work {
  figure {
    @include bp(sm) {
      float: left;
      width: 50%;
    }
    @include bp(md) {
      float: left;
      width: 33.333333333333333%;
    }
  } 
}


.fig {
  margin-bottom: 0em;
  background-color: #d7d7d7;
  opacity: 1;
  overflow: hidden;
}


.fig img {
  transition: all 0.4s ease-in-out;
  &:hover {
    transition: all .5s ease;
    transform: scale(1.075);
  }
}


.info {
  @include bp(xlg) {
    margin: 0 auto;
    max-width: 90em;
    font-size: 115%;
  }
}


