/* ******************************************
Layout: Areas (General Layout)
****************************************** */
html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
}

.body-container {
  background-color: $background-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-fog-container {
  background-color: $background-color;
  position: fixed !important;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: opacity(25%) contrast(133%) brightness(133%);
}

.main-container {
  flex: 1;
  overflow: hidden;
  background-color: $background-color;
  background: linear-gradient(0deg, rgba($background-color, 1) 70%, rgba($background-color, 0.7) 90%, rgba($background-color, 0) 100%);
  z-index: 1;
}
