/* ******************************************
Footer
****************************************** */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1.5rem;
  border-top: 1px solid rgba(white, .1);

  p {
    font-size: .7em;

    @include breakpoint($break-750) {
      font-size: .8em;
    }
  }
}
