/* ******************************************
Header
****************************************** */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;

  span, a {
    font-family: $headline-font;
    font-size: 1.25rem;

    @include breakpoint($break-500) {
      font-size: 1.35rem;
    }

    @include breakpoint($break-600) {
      font-size: 1.45rem;
    }

    @include breakpoint($break-1100) {
      font-size: 1.55rem;
    }

    @include breakpoint($break-1500) {
      font-size: 1.65rem;
    }
  }

  .header-logo {
    background-color: $font-color;
    color: $background-color;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;

    @include breakpoint($break-1000) {
      height: 42px;
      width: 42px;
    }

    @include breakpoint($break-1500) {
      height: 44px;
      width: 44px;
    }
  }

  .nav-list {
    display: flex;
  }

  .nav-link {
    @include text-shadow;
    transition: color ease .15s;
    margin-left: 1.75rem;

    @include breakpoint($break-1100) {
      margin-left: 2.25rem;
    }

    @media (hover: hover) {
      &:hover {
        color: $accent-color;
        transition: color ease .25s;
        text-shadow: 0px 2px 7px rgba($background-color, 75%);
      }
    }
  }

  .active.nav-link {
    border-bottom: 2px solid $font-color;

    @media (hover: hover) {
      &:hover {
        cursor: auto;
        color: $font-color;
      }
    }
  }
}


// Header: Homepage Fade In
.home {
  .header-container {
    animation: fadeInSlow ease 4s;
  }
}


// Header: Item Hover Effect
@keyframes hover-logo-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(white, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(white, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(white, 0);
  }
}

@media (hover: hover) {
  .hover-logo-pulse {
    box-shadow: 0 0 0 0 rgba(white, 1);
    transition: all ease .15s;
    transform: scale(1);
  }

  .hover-logo-pulse:hover,
  .hover-logo-pulse:focus,
  .hover-logo-pulse:active {
    transition: all ease .25s;
    transform: scale(1.1);
    animation: hover-logo-pulse 1.5s;
  }
}


// MOBILE LANDSCAPE
.is-mobile {
  @media (orientation: landscape) {
    .header-container {
      position: relative;
    }
  }
}
