/* ******************************************
Header
****************************************** */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(#161618, .975);
  z-index: 2;
  max-width: $max-width;
  margin: 0 auto;

  span, a {
    font-family: $headline-font;
    font-size: 1.25em;

    @include breakpoint($break-500) {
      font-size: 1.35em;
    }

    @include breakpoint($break-600) {
      font-size: 1.45em;
    }

    @include breakpoint($break-1100) {
      font-size: 1.55em;
    }

    @include breakpoint($break-1500) {
      font-size: 1.65em;
    }
  }

  .header-logo {
    background-color: $font-color;
    color: $background-color;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint($break-1000) {
      height: 42px;
      width: 42px;
    }

    @include breakpoint($break-1500) {
      height: 44px;
      width: 44px;
    }
  }

  .nav-list {
    display: flex;
  }

  .nav-link {
    margin-left: 1.75rem;

    @include breakpoint($break-1100) {
      margin-left: 2.25rem;
    }
  }
}
