/* ******************************************
Navbar
****************************************** */
.nav {
  padding-bottom: 1.25rem;

  ul {
    text-align: center;
    margin: 0 auto;
  }

  li {
    list-style: none;
    list-style-type:none;
    display: inline-block;
    padding: 0 .75rem;
    margin: 0;
    border-right: 1px solid $border-color;
    text-align: left;
    font-family: $font-stack-main;
    font-size: 1.3em;
    line-height: 1;
    font-weight: 700;
    color: $primary-color;
  }

  li:first-child {
    padding-left: 0;
  }

  a:link,
  a:visited {
    color: $primary-color;
    text-decoration: none;
    opacity: 1;
  }
  a:hover,
  a:active,
  a:focus {
    opacity: .5;
    transition: opacity 0.3s ease;
  }

  .last-child {
    border: none;
    padding-right: 0;
  }
}

.nav-a {
  margin: 0;
  padding: 0;
}
