/* ******************************************
Navbar
****************************************** */
.nav {
  ul {
    text-align: center;
    margin: 0 auto;
  }
  li {
    list-style: none;
    list-style-type:none;
    display: inline-block;
    padding: 0 .4em;
    margin: 0;
    border-right: 1px solid #d3d3d3;
    text-align: left;
  }
  li:first-child {
    padding-left: 0;
  }
}

.nav .last-child {
	border: none;
  padding-right: 0;
}

.nav-a {
  margin: 0;
  padding: 0;
}