/* ******************************************
Navbar
****************************************** */
.nav {
  ul {
    text-align: center;
    margin: 0 auto;
  }

  li {
    list-style: none;
    list-style-type:none;
    display: inline-block;
    padding: 0 .4em;
    margin: 0;
    border-right: 1px solid #d3d3d3;
    text-align: left;
    font-family: $font-stack-display;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    color: $primary-color;
  }

  li:first-child {
    padding-left: 0;
  }

  a:link,
  a:visited {
    color: $primary-color;
    text-decoration: none;
    opacity: 1;
  }
  a:hover,
  a:active,
  a:focus {
    opacity: .5;
    transition: opacity 0.3s ease;
  }

  .last-child {
    border: none;
    padding-right: 0;
  }
}

.nav-a {
  margin: 0;
  padding: 0;
}
