/* ******************************************
Projects Layout Styles
****************************************** */

.work-item {
  article {
    padding-bottom: 0;
  }
}

.work-item-text {
  @include bp(sm) {
    max-width: 85%;
  }
  @include bp(md) {
    width: 65%;
    max-width: 48em;
    margin: 4em auto;
  }
}

.topimg {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 8%;
  padding-right: 8%;
  display: block;
  text-align: center;
}

.wood {
  background-color: #d1d1d1;
  background-image: url(../img/woodbg.jpg);
  background-size: cover;
}

.dtw-top {
  background-color: #d1d1d1;
  background-image: url(../img/wood2.jpg);
  background-size: cover;
}

.wall {
  background-color: #d1d1d1;
  background-image: url(../img/wallbg.jpg);
}

.work-item-annualreport {
  @include bp(lg) {
    padding: 5% 8% 0 8%;
  }
}

.annualreport-top, 
.recruitment-top, 
.coc-rebranding-top {
  img {
    width: 85%;
    max-width: 37em;
    margin: 0 auto;
  }
}

.annualreport-top {
  img {
    @include bp(md) {
      width: 60%;
    }
    @include bp(lg) {
      width: 50%;
      max-width: 37em;
    }
  }
}

.coc-rebranding-top {
  img {
    @include bp(md) {
      width: 50%;
    }
  }
}

.recruitment-top {
  img {
    @include bp(md) {
      width: 65%;
    }
  }
}

.bleed-top {
  background-color: #315563;
  img {
    margin: 0 auto;
  }
}

.tere-top {
  background-color: #0097d5;
  img {
    margin: 0 auto;
  }
}

.cocweb-top {
  background-color: #c5c3c4;
  img {
    margin: 0 auto;
  }
}

.work-item-area {
  padding: 5% 5% 0 5%;
  margin-bottom: 0;
  background-color: #d7d7d7;
  figure {
    padding-bottom: 5%;
  }
  img {
    margin: 0 auto;
  }
}

.surface {
  background-image: url(../img/surface.jpg);
}

.shadow {
  img {
    box-shadow: 2px 3px 5px 1px rgba(0,0,0,.7);
  }
}

.half {
  @include bp(md) {
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
}

.full {
  @include bp(md) {
    float: left;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
}

.quarter {
  @include bp(md) {
    display: inline-block;
    width: 46%;
  }
}

.fixed {
  max-width: 80em;
  margin: 0 auto;
}

.row {
  padding-bottom: 5%;
}

.work-nav {
  text-align: center;
  padding-top: 1em;
  padding-bottom: .75em;
  li {
    display: inline-block;
    padding: 0 .4em;
  }
  a:link, 
  a:visited {
    text-decoration: none;
  }
  a:hover, 
  a:active {
    opacity: .6;
    transition: opacity 0.3s ease;
  }
}

.gallery {
  background: #d7d7d7;
  @include bp(lg){
    width: 100%;
    max-width: 69em;
    margin: 0 auto;
  }
}


