/* ******************************************
Fonts
****************************************** */
// Roslindale Condensed
@font-face {
  src: url('../fonts/Roslindale-DisplayCondensedBold.woff2') format("woff2"),
       url('../fonts/Roslindale-DisplayCondensedBold.woff') format("woff");
  font-family: 'Roslindale Condensed';
  font-style: normal;
  font-weight: normal;
}

// Roslindale Deck Narrow SemiBold Italic
@font-face {
  src: url('../fonts/Roslindale-DeckNarrowSemiBoldItalic.woff2') format("woff2"),
       url('../fonts/Roslindale-DeckNarrowSemiBoldItalic.woff') format("woff");
  font-family: 'Roslindale Deck';
  font-weight: 600;
}

// Roslindale Text
@font-face {
  src: url('../fonts/Roslindale-TextRegular.woff2') format("woff2"),
       url('../fonts/Roslindale-TextRegular.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: 400;
}

// Roslindale Text Italic
@font-face {
  src: url('../fonts/Roslindale-TextItalic.woff2') format("woff2"),
       url('../fonts/Roslindale-TextItalic.woff') format("woff");
  font-family: 'Roslindale';
  font-style: italic;
  font-weight: 400;
}
