/* ******************************************
	Typography
****************************************** */ 
html {
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  @include bp(sm) {
    font-size: 110%;
  }
  @include bp(md) {
    font-size: 125%;
  }
}

p, 
li {
  font-family: $font-stack-main;
  color: $primary-color;
  font-size: 1.25em;
  line-height: 1.44;
  font-style: normal;
}

h1 {
  font-family: $font-stack-display;
  font-weight: normal;
  font-size: 5.125em;
  line-height: 1;
  color: $primary-color;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2.25em;
  color: $secondary-color;
  font-family: $font-stack-display;
  font-weight: 400;
  line-height: 1.44;
  text-transform: uppercase;
}

a:link, 
a:visited {
  transition: all 0.3s ease;
}

.strapline {
	font-size: 1.1875em;
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

.nav {
  li {
    font-family: $font-stack-display;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 400;
  }
  a:link, 
  a:visited {
    color: $secondary-color;
    text-decoration: none;
    opacity: 1;
  }
  a:hover, 
  a:active, 
  a:focus {
    opacity: .5;
    transition: opacity 0.3s ease;
  }
}

.skills {
  li {
    list-style-position: inside;
  }
}

.contact {
  a:link, 
  a:visited {
    color: $secondary-color;
    text-decoration: none;
    border-bottom: 1px dotted $secondary-color;
    transition: all 0.3s ease;
  }
}

.container-header {
  @include bp(sm) {
    font-size: 120%;
  }
}

.container-footer {
  p {  
    color: #fff;
    font-family: $font-stack-main;
    font-size: 0.875em;
    line-height: 1.44;
    font-style: normal;
	  text-align: center;
  }
}

.work-item-text {
  max-width: 90%;
  margin: 3em auto;
  h2 {
    font-family: $font-stack-display;
    font-weight: normal;
    font-size: 2.1em;
    line-height: 1.05em;
    color: $primary-color;
    text-transform: none;
    text-align: center;
  }
  h4 {
    font-family: $font-stack-main;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25em;
    line-height: 1.1em;
    color: $secondary-color;
    text-align: center;
    padding-top: .3em;
    padding-bottom: .8em;
  }
  p {
    font-family: $font-stack-main;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.44;
    color: $primary-color;
    text-align: center;
    padding-top: .8em;
    border-top: 1px solid #ccc;
  }
  a:link, 
  a:visited {
    color: $primary-color;
    text-decoration: none;
    border-bottom: 1px dotted #b7b7b7;
    transition: all 0.3s ease;
  }
}

.contact,
.work-item-text {
  a:hover, 
  a:active {
    color: #fff;
    background-color: $secondary-color;
    text-decoration: none;
    border-bottom: none;
  }
}

.colophon {
  p {
    @include bp(md) {
      font-size: 80%;
    } 
  } 
}

::-moz-selection {
  background: $secondary-color;
  color: #fff;
}

::selection {
  background: $secondary-color;
  color: #fff;
}