/* ******************************************
Typography
****************************************** */
body {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
}

a {
  color: $font-color;
  text-decoration: none;
}
