/**************************************************
VARIABLES: Colors
**************************************************/
$background-color: #161618;
$font-color: #ffffff;
$border-color: #979797;
// $accent-color: #01BD8B;
$accent-color: #485EF2;



/**************************************************
VARIABLES: Fonts
**************************************************/
$headline-font: 'Roslindale Condensed', serif;
$sub-headline-font: 'Roslindale Deck', serif;
$paragraph-font: 'Roslindale Text', serif;


/**************************************************
VARIABLES: Breakpoints
**************************************************/
$break-400: 25em;
$break-500: 31.25em;
$break-600: 37.5em;
$break-750: 46.875em;
$break-900: 56.25em;
$break-1000: 62.5em;
$break-1100: 68.75em;
$break-1300: 81.25em;
$break-1500: 93.75em;


/**************************************************
VARIABLES: Sizing and Timing
**************************************************/
$timing-duration: .75s;
$max-width: 1300px;
