/**************************************************
VARIABLES: Colors
**************************************************/
$background-color: #161618;
$font-color: #ffffff;
$border-color: #979797;


/**************************************************
VARIABLES: Fonts
**************************************************/
$headline-font: 'Roslindale Condensed', serif;
$sub-headline-font: 'Roslindale Deck', serif;
$paragraph-font: 'Roslindale Text', serif;


/**************************************************
VARIABLES: Breakpoints
**************************************************/
$break-600: 37.5em; // 600px
$break-1000: 62.5em; // 1000px


/**************************************************
VARIABLES: Timing
**************************************************/
$timing-duration: .75s;
