/**************************************************
VARIABLES: Colors
**************************************************/
$background-color: #161618;
$font-color: #ffffff;
$border-color: #979797;
$accent-color: #485EF2;


/**************************************************
VARIABLES: Fonts
**************************************************/
$headline-font: 'Roslindale Condensed', serif;
$sub-headline-font: 'Roslindale Deck', serif;
$body-font: 'Roslindale', serif;


/**************************************************
VARIABLES: Breakpoints
**************************************************/
$break-400: 25em;
$break-500: 31.25em;
$break-600: 37.5em;
$break-750: 46.875em;
$break-900: 56.25em;
$break-1000: 62.5em;
$break-1100: 68.75em;
$break-1200: 75em;
$break-1300: 81.25em;
$break-1500: 93.75em;
$break-1800: 112.5em;
$break-2000: 125em;


/**************************************************
VARIABLES: Sizing and Timing
**************************************************/
$timing-duration: 1.25s;
$max-width: 1300px;
