/* ******************************************
Layout: Footer
****************************************** */
.footer-container {
  background: $primary-color;
  margin: 0;
  padding: 1rem .5rem;

  p {
    color: #fff;
    font-family: $font-stack-main;
    font-size: 0.875em;
    line-height: 1.5;
    font-style: normal;
    text-align: center;

    @include bp(sm) {
      display: inline-block;
      text-align: center;
      margin: 0 auto;
    }

    @include bp(md) {
      font-size: 80%;
    }
  }

  .colophon {
    text-align: center;
    margin: 0 auto;
  }

}
