/* ******************************************
About
****************************************** */
.about-container {
  margin: 12rem auto 7rem;
  padding: 0 1.25rem;
  display: grid;
  max-width: $max-width;
  animation: fadeIn ease 2s;

  @include breakpoint($break-1000) {
    grid-template-columns: 5fr 6fr;
    grid-gap: 1.5rem;
  }

  // About Content
  .about-content-container {
    @include breakpoint($break-1000) {
      order: 2;
    }

    h1 {
      font-size: 2em;
      line-height: 1.3;
      margin-bottom: 1rem;

      @include breakpoint($break-600) {
        font-size: 2.25rem;
      }

      @include breakpoint($break-1000) {
        font-size: 2.5rem;
      }

      @include breakpoint($break-1300) {
        font-size: 2.75rem;
      }
    }

    a, p {
      font-size: 1.05rem;
      line-height: 1.6;

      @include breakpoint($break-750) {
        font-size: 1.2rem;
      }

      @include breakpoint($break-1000) {
        font-size: 1.25rem;
      }
    }
  }

  // Section Divider
  .about-section-divider {
    display: flex;
    flex-direction: column;
    margin: 2.25rem auto;

    &:before,
    &:after {
      content: '';
      border-top: 1px solid rgba($border-color, .5);
      width: 100%;
      margin: .5rem auto 0;
      height: 1px;
    }
    &:before {
      margin-top: 0;
    }

    &:last-child {
      @include breakpoint($break-1000) {
        display: none;
      }
    }
  }

  // About Links
  .info-links {
    margin-top: 1.25rem;

    a {
      font-family: $sub-headline-font;
      transition: color ease .15s;
      border-bottom: 1px solid $font-color;

      @media (hover: hover) {
        &:hover {
          color: $accent-color;
          border-color: $accent-color;
          transition: all ease .25s;
        }
      }
    }
  }

  // Link Dividers
  .about-info-divider {
    margin: 0 .5rem;
  }

  // Currently Listening/Reading Section
  .about-currently-container {
    .about-currently-content {
      @include breakpoint($break-600) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }

      @include breakpoint($break-750) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .about-currently-item {
      &:not(:last-of-type) {
        margin-bottom: 2rem;

        @include breakpoint($break-750) {
          margin-bottom: 0;
        }
      }
    }

    .about-currently-link {
      display: block;
      transition: all ease .15s;
      transform-style: preserve-3d;

      @media (hover: hover) {
        &:hover,
        &:focus,
        &:active {
          transition: all ease .25s;
          transform: scale(102%);
          backface-visibility: hidden;

          .about-currently-cover {
            animation: hover-pulse 1.5s;
          }
        }
      }
    }

    .about-currently-cover {
      box-shadow: 0 0 0 0 rgba(white, 1);

      img {
        border: 1px solid $border-color;
      }
    }

    .about-currently-info {
      margin-top: .5rem;
    }

    .about-currently-artist {
      font-family: $body-font;
      font-size: .85rem;
      line-height: 1.7;
    }

    .about-currently-title {
      font-family: $body-font;
      font-size: .85rem;
      line-height: 1.7;
      font-style: italic;
    }
  }

  // About Image
  .about-img-container {
    @include breakpoint($break-1000) {
      order: 1;
    }

    .about-img-wrap {
      overflow: hidden;
      border-radius: 8px;
    }

    p {
      font-family: $body-font;
      font-size: .85rem;
      margin-top: .75rem;
      text-align: left;
      font-style: italic;
    }
  }
}
