/* ******************************************
About
****************************************** */
.about-container {
  margin: 10rem auto 5rem;
  padding: 0 1.25rem;
  display: grid;
  grid-gap: 2.25rem;
  max-width: $max-width;

  @include breakpoint($break-1000) {
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
  }

  @include breakpoint($break-1100) {
    grid-template-columns: 3fr 2fr;
  }

  .about-img-container {
    @include breakpoint($break-1000) {
      order: 1;
    }

    .about-img-wrap {
      overflow: hidden;
      border-radius: 8px;
    }

    p {
      font-family: $sub-headline-font;
      font-size: .85em;
      margin-top: .75rem;
      text-align: right;
    }
  }

  .about-content-container {
    @include breakpoint($break-1000) {
      //order: 2;
    }
  }

  h1 {
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: .75rem;

    @include breakpoint($break-600) {
      font-size: 2.25em;
    }

    @include breakpoint($break-1000) {
      font-size: 2.5em;
    }

    @include breakpoint($break-1300) {
      font-size: 2.5em;
    }
  }

  a, p {
    font-size: .9em;
    line-height: 1.6;

    @include breakpoint($break-500) {
      font-size: 1em;
    }

    @include breakpoint($break-600) {
      font-size: 1.1em;
    }

    @include breakpoint($break-600) {
      font-size: 1.2em;
    }

    @include breakpoint($break-1300) {
      font-size: 1.25em;
    }
  }

  .about-section-divider {
    display: flex;
    flex-direction: column;
    margin: 2.25rem auto;

    &:before,
    &:after {
      content: '';
      border-top: 1px solid $border-color;
      width: 100%;
      margin: .5rem auto 0;
      height: 1px;
    }
    &:before {
      margin-top: 0;
    }
  }

  .about-info-divider {
    margin: 0 .5rem;
  }
}
