/* ******************************************
About
****************************************** */
.about-container {
  margin: 12rem auto 7rem;
  padding: 0 1.25rem;
  display: grid;
  grid-gap: 2.25rem;
  max-width: $max-width;
  animation: fadeIn ease 2s;

  @include breakpoint($break-1000) {
    grid-template-columns: 4fr 3fr;
    grid-gap: 2rem;
  }

  .about-img-container {
    @include breakpoint($break-1000) {
      order: 1;
    }

    .about-img-wrap {
      overflow: hidden;
      border-radius: 8px;
    }

    p {
      font-family: $sub-headline-font;
      font-size: .9em;
      margin-top: .75rem;
      text-align: right;
    }
  }

  h1 {
    font-size: 2em;
    line-height: 1.3;
    margin-bottom: .75rem;

    @include breakpoint($break-600) {
      font-size: 2.25em;
    }

    @include breakpoint($break-1000) {
      font-size: 2.5em;
    }

    @include breakpoint($break-1300) {
      font-size: 2.75em;
    }
  }

  a, p {
    font-size: 1.1em;
    line-height: 1.7;

    @include breakpoint($break-750) {
      font-size: 1.2em;
    }

    @include breakpoint($break-1000) {
      font-size: 1.25em;
    }
  }

  .about-section-divider {
    display: flex;
    flex-direction: column;
    margin: 2.25rem auto;

    &:before,
    &:after {
      content: '';
      border-top: 1px solid rgba($border-color, .5);
      width: 100%;
      margin: .5rem auto 0;
      height: 1px;
    }
    &:before {
      margin-top: 0;
    }
  }

  .about-info-divider {
    margin: 0 .5rem;
  }

  .info-links a {
    transition: color ease .15s;
    border-bottom: 1px solid $font-color;
    padding-bottom: .15rem;

    &:hover {
      color: $accent-color;
      border-color: $accent-color;
      transition: all ease .25s;
    }
  }
}
