/* ******************************************
Hero
****************************************** */
.hero-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .hero-primary-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-primary-wrap {
    padding: 20rem 1.5rem;

    @include breakpoint($break-600) {
      padding: 20rem 2.25rem;
      max-width: 36rem;
    }

    @include breakpoint($break-1000) {
      max-width: none;
    }
  }

  h1 {
    font-size: 10.75vw;
    text-align: center;
    line-height: 1.3;

    @include breakpoint($break-500) {
      font-size: 10.75vw;
    }

    @include breakpoint($break-600) {
      font-size: 3.9em;
    }

    @include breakpoint($break-1000) {
      display: flex;
      flex-direction: column;
    }

    @include breakpoint($break-1100) {
      font-size: 4.2em;
    }

    @include breakpoint($break-1500) {
      font-size: 4.75em;
    }
  }

  .hero-divider {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 31rem;

    @include breakpoint($break-1000) {
      margin: 1rem auto;
      max-width: 32.5rem;
    }

    @include breakpoint($break-1000) {
      max-width: 33.75rem;
    }

    @include breakpoint($break-1500) {
      max-width: 39rem;
    }

    &:before,
    &:after {
      content: '';
      border-top: 1px solid $border-color;
      width: 100%;
      margin: 0 auto 0;
      height: 1px;
    }

    &:after {
      margin: .5rem auto 0;
    }
  }

  .hero-status {
    padding-top: .75rem;
    text-align: center;

    p {
      font-family: $sub-headline-font;
      font-size: 3.15vw;
      line-height: 1.6;

      @include breakpoint($break-600) {
        font-size: 1.1875em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.25em;
      }

      @include breakpoint($break-1100) {
        font-size: 1.3em;
      }

      @include breakpoint($break-1500) {
        font-size: 1.5em;
      }
    }
  }
}

.hero-scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;

  img {
    transition: opacity ease .15s;

    &:hover {
      transition: opacity ease .25s;
      opacity: .6;
    }

    @include breakpoint($break-600) {
      transform: scale(1.25);
      transform-origin: bottom;
    }
  }
}
