/* ******************************************
Hero
****************************************** */
.hero-container {
  padding: 12rem 2rem;

  h1 {
    font-size: 10vw;
    text-align: center;
    line-height: 1.3;
  }

  .hero-divider {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    &:before,
    &:after {
      content: '';
      border-top: 1px solid $border-color;
      width: 100%;
      margin: .5rem auto 0;
      height: 1px;
    }
  }

  .hero-status {
    padding-top: 1rem;
    text-align: center;

    h2 {
      font-size: 3.35vw;
      line-height: 1.6;
    }
  }
}
