/* ******************************************
Hero
****************************************** */
.hero-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .hero-primary-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-primary-wrap {
    padding: 20rem 1.5rem;

    @include breakpoint($break-600) {
      padding: 20rem 2.25rem;
      max-width: 32rem;
    }

    @include breakpoint($break-1000) {
      max-width: none;
    }
  }

  h1 {
    font-size: 10.15vw;
    text-align: center;
    line-height: 1.3;

    @include breakpoint($break-600) {
      font-size: 3.8125em;
    }

    @include breakpoint($break-1000) {
      display: flex;
      flex-direction: column;
    }
  }

  .hero-divider {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 31rem;

    @include breakpoint($break-1000) {
      margin: 1rem auto;
      max-width: 32.5rem;
    }

    &:before,
    &:after {
      content: '';
      border-top: 1px solid $border-color;
      width: 100%;
      margin: .5rem auto 0;
      height: 1px;
    }
  }

  .hero-status {
    padding-top: .75rem;
    text-align: center;

    p {
      font-family: $sub-headline-font;
      font-size: 3.15vw;
      line-height: 1.6;

      @include breakpoint($break-600) {
        font-size: 1.1875em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.25em;
      }
    }
  }
}

.hero-scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0;

  img {
    @include breakpoint($break-600) {
      transform: scale(1.25);
      transform-origin: bottom;
    }
  }
}
