/* ******************************************
Home Work
****************************************** */
.home-work-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 10rem auto 5rem auto;
  padding-top: 7.5rem;

  @include breakpoint($break-750) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  @include breakpoint($break-1100) {
    grid-gap: 1.25rem;
  }

  .home-work-item {
    margin-bottom: 4rem;

    @include breakpoint($break-750) {
      margin-bottom: 3.5rem;
    }
  }

  .home-work-img {
    overflow: hidden;
    background-color: #B8B8B8;
    height: 280px;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding-bottom: 80%;
  }

  .home-work-item-description {
    text-align: center;

    h3 {
      color: white;
      font-size: 1.5em;

      @include breakpoint($break-600) {
        font-size: 1.75em;
      }

      @include breakpoint($break-1100) {
        font-size: 2em;
      }
    }

    h5 {
      color: white;
      font-size: 1.1em;
      font-family: $sub-headline-font;
      margin-top: .5rem;

      @include breakpoint($break-600) {
        font-size: 1.2em;
        margin-top: .75rem;
      }

      @include breakpoint($break-1100) {
        font-size: 1.375em;
      }
    }
  }

  /* ******************************************
  Work Items: Urbanimmersive
  ****************************************** */
  .home-work-urbanimmersive {
    .home-work-item {
      background-color: #475EF2;
    }

    img {
      transform: scale(1.15);
    }
  }


  /* ******************************************
  Work Items: Tourbuzz
  ****************************************** */
  .home-work-tourbuzz {
    .home-work-item {
      background-color: #5e7a9d;
    }
  }


  /* ******************************************
  Work Items: Georgia Tech
  ****************************************** */
  .home-work-gtech {
    .home-work-item {
      background-color: #54be8e;
    }
  }


  /* ******************************************
  Work Items: Tere O'Connor
  ****************************************** */
  .home-work-tere {
    .home-work-item {
      background-color: #0097d5;
    }
  }
}
