/* ******************************************
Home Work
****************************************** */
.home-work-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 10rem auto 5rem auto;
  padding-top: 7.5rem;

  @include breakpoint($break-750) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  @include breakpoint($break-1100) {
    grid-gap: 1.25rem;
  }

  .home-work-item {
    margin-bottom: 4rem;
  }

  .home-work-img {
    overflow: hidden;
    background-color: #B8B8B8;
    height: 280px;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding-bottom: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint($break-1100) {
      padding-bottom: 85%;
    }
  }

  .home-work-item-description {
    text-align: center;

    h3 {
      color: white;
      font-size: 1.5em;

      @include breakpoint($break-600) {
        font-size: 1.75em;
      }

      @include breakpoint($break-1100) {
        font-size: 2em;
      }
    }

    h5 {
      color: white;
      font-size: 1.1em;
      font-family: $sub-headline-font;
      margin-top: .5rem;

      @include breakpoint($break-600) {
        font-size: 1.2em;
        margin-top: .75rem;
      }

      @include breakpoint($break-1100) {
        font-size: 1.375em;
      }
    }
  }

  /* ******************************************
  Home Work: Urbanimmersive
  ****************************************** */
  .home-work-urban {
    .home-work-img {
      background-color: #475EF2;
      background-image: url(../img/just-3d-macbook.jpg);
      background-size: 115%;
    }
  }


  /* ******************************************
  Home Work: Tourbuzz
  ****************************************** */
  .home-work-tbuzz {
    .home-work-img {
      background-color: #A8BAC4;
      background-image: url(../img/tourbuzz-home.jpg);
      background-size: contain;
    }
  }


  /* ******************************************
  Home Work: Georgia Tech
  ****************************************** */
  .home-work-gtech {
    .home-work-img {
      background-color: #08BD8B;
      background-image: url(../img/gtech-home.jpg);
      background-position: 2rem top;
    }
  }


  /* ******************************************
  Home Work: Tere O'Connor
  ****************************************** */
  .home-work-tere {
    .home-work-img {
      background-color: #0097d5;
      background-image: url(../img/tere-home.jpg);
    }
  }
}
