/* ******************************************
Home Work
****************************************** */
.home-work-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 10rem auto 5rem auto;
  padding-top: 8rem;

  @include breakpoint($break-750) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  @include breakpoint($break-1100) {
    grid-gap: 1.25rem;
  }

  .home-work-item {
    transition: all ease .15s;
    margin-bottom: 6rem;
    transform-style: preserve-3d;
  }

  .home-work-img {
    transform: scale(1);
    transition: all .15s ease;
    overflow: hidden;
    background-color: #B8B8B8;
    height: 280px;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    padding-bottom: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include breakpoint($break-1100) {
      padding-bottom: 85%;
    }
  }

  .home-work-item-description {
    text-align: center;

    h3 {
      color: white;
      font-size: 1.5rem;

      @include breakpoint($break-600) {
        font-size: 1.75rem;
      }

      @include breakpoint($break-1100) {
        font-size: 2rem;
      }
    }

    h5 {
      color: white;
      font-size: 1.1rem;
      font-family: $sub-headline-font;
      margin-top: .5rem;

      @include breakpoint($break-600) {
        font-size: 1.2rem;
        margin-top: .75rem;
      }

      @include breakpoint($break-1100) {
        font-size: 1.375rem;
      }
    }
  }

  // Home Work: Item Hover Effect
  .hover-pulse {
    border-radius: $border-radius;
    box-shadow: 0 0 0 0 rgba(white, 1);
  }

  @media (hover: hover) {
    .home-work-item:hover,
    .home-work-item:focus,
    .home-work-item:active {
      transition: all ease .25s;
      transform: scale(102%);
      backface-visibility: hidden;

      .hover-pulse {
        animation: hover-pulse 1.5s;
      }
    }
  }


  /* ******************************************
  Home Work: Urbanimmersive
  ****************************************** */
  .home-work-urban {
    .home-work-img {
      background-color: #475EF2;
      background-image: url(../img/just-3d-macbook.jpg);
      background-size: 115%;
    }
  }


  /* ******************************************
  Home Work: Tourbuzz
  ****************************************** */
  .home-work-tbuzz {
    .home-work-img {
      background-color: #A8BAC4;
      background-image: url(../img/tourbuzz-home.jpg);
      background-size: contain;
    }
  }


  /* ******************************************
  Home Work: Georgia Tech
  ****************************************** */
  .home-work-gtech {
    .home-work-img {
      background-color: #08BD8B;
      background-image: url(../img/gtech-home.jpg);
      background-position: 2rem top;
    }
  }


  /* ******************************************
  Home Work: Tere O'Connor
  ****************************************** */
  .home-work-tere {
    .home-work-img {
      background-color: #0097d5;
      background-image: url(../img/tere-home.jpg);
    }
  }
}


// MOBILE LANDSCAPE
.is-mobile {
  @media (orientation: landscape) {
    .home-work-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}
