/* ******************************************
Info: About, Skills, Contact
****************************************** */
.info {
  @include bp(xlg) {
    margin: 0 auto;
    max-width: 90rem;
  }

  h3 {
    font-size: 2em;
    color: $primary-color;
    font-family: $font-stack-main;
    font-weight: 700;
    line-height: 1.5;
    text-transform: capitalize;
  }

  .skills {
    li {
      list-style-position: inside;
    }
  }

  .contact,
  .about {
    a:link,
    a:visited {
      color: $secondary-color;
      text-decoration: none;
      border-bottom: 1px solid $secondary-color;
      transition: all 0.3s ease;
    }
  }

  .about,
  .skills,
  .contact {
    width: 90%;
    margin: 0 auto;
    padding-top: 1.8rem;
  }

  .about {
    @include bp(md) {
      float: left;
      width: 50%;
      border-right: 1px dotted #d4d4d4;
      padding: 2.7rem 1.8rem 3.6rem 1.8rem;
      padding-bottom: 3.6rem;
    }
    @include bp(lg) {
      padding-right: 2.7rem;
      padding-left: 2.7rem;
    }
    @include bp(xlg) {
      padding-right: 3.15rem;
      padding-left: 3.15rem;
    }
  }

  .skills {
    @include bp(md) {
      padding: 2.7rem 1.8rem 0 1.8rem;
      float: right;
      width: 50%;
    }
    @include bp(lg) {
      padding-right: 2.7rem;
      padding-left: 2.7rem;
    }
    @include bp(xlg) {
      padding-right: 3.15rem;
      padding-left: 3.15rem;
    }
  }

  .contact {
    padding-bottom: 3.6rem;
    @include bp(md) {
      float: right;
      width: 50%;
      padding: 2.65rem 1.8rem 3.6rem 1.8rem;
    }
    @include bp(lg) {
      padding-right: 2.7rem;
      padding-left: 2.7rem;
    }
    @include bp(xlg) {
      padding-right: 3.15rem;
      padding-left: 3.15rem;
    }
  }

}
