/* ******************************************
Work Items (Individual Work Pages)
****************************************** */
.work-item-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 12rem auto 7rem;

  .work-item-content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      font-size: 2em;
      line-height: 1.3;
      margin-bottom: .5rem;

      @include breakpoint($break-600) {
        font-size: 2.25em;
      }

      @include breakpoint($break-1000) {
        font-size: 2.5em;
      }

      @include breakpoint($break-1300) {
        font-size: 2.75em;
      }
    }

    h5 {
      font-family: $sub-headline-font;
      font-size: 1.2em;

      @include breakpoint($break-600) {
        font-size: 1.25em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.375em;
      }

      @include breakpoint($break-1300) {
        font-size: 1.45em;
      }
    }

    .work-item-top-img {
      background-color: #B8B8B8;
      border-radius: 8px;
      margin: 2.5rem 0;
      padding-bottom: 80%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .work-item-img {
      margin: 2.5rem 0;

      img {
        margin-bottom: 5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .work-item-text {
      margin: 5rem 0;
    }

    p {
      font-size: .9em;
      line-height: 1.7;

      @include breakpoint($break-500) {
        font-size: 1em;
      }

      @include breakpoint($break-600) {
        font-size: 1.1em;
      }

      @include breakpoint($break-600) {
        font-size: 1.2em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.3em;
      }
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}


/* ******************************************
Work Items: Urbanimmersive
****************************************** */
.work-item-urban.work-item-container {
  .work-item-top-img {
    background-color: transparent;
    margin: 5rem 0;
    padding-bottom: 0;
  }

  .work-item-img img {
    border: 1px solid rgba(white, .5);
  }
}


/* ******************************************
Work Items: Tourbuzz
****************************************** */
.work-item-tbuzz.work-item-container {
  .work-item-top-img {
    background-color: #A8BAC4;
    background-image: url(../img/tourbuzz/client-panel-top-1000.jpg);
    padding-bottom: 95%;
  }
}


/* ******************************************
Work Items: Georgia Tech
****************************************** */
.work-item-gtech.work-item-container {
  .work-item-top-img {
    background-color: #C5C3C4;
    background-image: url(../img/georgia-tech/coc-website-top.jpg);
    padding-bottom: 70%;
  }
}


/* ******************************************
Work Items: Tere O'Connor
****************************************** */
.work-item-tere.work-item-container {
  .work-item-top-img {
    background-color: #0097d5;
    background-image: url(../img/tere-oconnor/tere-top.png);
    padding-bottom: 65%;
  }
}
