/* ******************************************
Work Item
****************************************** */
.work-item-text {
  max-width: 90%;
  margin: 3rem auto;

  @include bp(sm) {
    max-width: 85%;
  }

  @include bp(md) {
    width: 65%;
    max-width: 48rem;
    margin: 4rem auto;
  }

  h2 {
    font-family: $font-stack-display;
    font-weight: 900;
    font-size: 1.9em;
    line-height: 1.2;
    color: $primary-color;
    text-transform: none;
    text-align: center;
  }

  h4 {
    font-family: $font-stack-display;
    font-weight: 900;
    font-style: italic;
    font-size: 1.25em;
    line-height: 1.35;
    color: $secondary-color;
    text-align: center;
    padding-top: .25rem;
    padding-bottom: 1rem;
  }

  p {
    font-family: $font-stack-main;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.5;
    color: $primary-color;
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
  }

  a:link,
  a:visited {
    color: $secondary-color;
    text-decoration: none;
    border-bottom: 1px solid $secondary-color;
    transition: all 0.3s ease;
  }

  a:hover,
  a:active {
    color: #fff;
    background-color: $secondary-color;
    text-decoration: none;
    border-bottom: none;
  }
}

.work-nav a {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-item {
  article {
    padding-bottom: 0;
  }
}

.topimg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 8%;
  padding-right: 8%;
  display: block;
  text-align: center;
}

.wood {
  background-color: #d1d1d1;
  background-image: url(../img/woodbg.jpg);
  background-size: cover;
}

.dtw-top {
  background-color: #d1d1d1;
  background-image: url(../img/wood2.jpg);
  background-size: cover;
}

.wall {
  background-color: #d1d1d1;
  background-image: url(../img/wallbg.jpg);
}

.work-item-annualreport {
  @include bp(lg) {
    padding: 5% 8% 0 8%;
  }
}

.annualreport-top,
.recruitment-top,
.coc-rebranding-top {
  img {
    width: 85%;
    max-width: 37rem;
    margin: 0 auto;
  }
}

.annualreport-top {
  img {
    @include bp(md) {
      width: 60%;
    }
    @include bp(lg) {
      width: 50%;
      max-width: 37rem;
    }
  }
}

.coc-rebranding-top {
  img {
    @include bp(md) {
      width: 50%;
    }
  }
}

.recruitment-top {
  img {
    @include bp(md) {
      width: 65%;
    }
  }
}

.bleed-top {
  background-color: #315563;
  img {
    margin: 0 auto;
  }
}

.tourbuzz-top {
  background-color: #5e7a9d;
  img {
    margin: 0 auto;
  }
}

.tourbuzz-work-item-img {
  border: 1px solid black;
}

.client-panel-top {
  background-color: #7D3732;
  img {
    margin: 0 auto;
  }
}

.tere-top {
  background-color: #0097d5;
  img {
    margin: 0 auto;
  }
}

.cocweb-top {
  background-color: #c5c3c4;
  img {
    margin: 0 auto;
  }
}

.work-item-area {
  padding: 5% 5% 0 5%;
  margin-bottom: 0;
  background-color: #d7d7d7;

  figure {
    padding-bottom: 5%;
  }

  img {
    margin: 0 auto;
  }
}

.surface {
  background-image: url(../img/surface.jpg);
}

.shadow {
  img {
    box-shadow: 2px 3px 5px 1px rgba(0,0,0,.7);
  }
}

.half {
  @include bp(md) {
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
}

.full {
  @include bp(md) {
    float: left;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
  }
}

.quarter {
  @include bp(md) {
    display: inline-block;
    width: 46%;
  }
}

.fixed {
  max-width: 80rem;
  margin: 0 auto;
}

.row {
  padding-bottom: 5%;
}

.work-nav {
  font-family: $font-stack-main;
  background-color: #d7d7d7;
  text-align: center;
  padding-top: .75rem;
  padding-bottom: .75rem;

  li {
    display: inline-block;
    padding: 0 .4rem;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  a:hover,
  a:active {
    opacity: .6;
    transition: opacity 0.3s ease;
  }
}

.gallery {
  background: #d7d7d7;

  @include bp(lg){
    width: 100%;
    max-width: 69rem;
    margin: 0 auto;
  }
}

.work-nav-back {
  font-size: .9em;
}

.work-nav-icon {
  font-size: .8em;
  margin-right: .25rem;
}
