/* ******************************************
Work Items (Individual Work Pages)
****************************************** */
.work-item-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 12rem auto 7rem;

  .work-item-content {
    max-width: 880px;
    margin: 0 auto;
    animation: fadeIn ease 2s;

    h1 {
      text-align: center;
      font-size: 2rem;
      line-height: 1.3;
      margin-bottom: .5rem;

      @include breakpoint($break-400) {
        font-size: 2.25rem;
      }

      @include breakpoint($break-600) {
        font-size: 2.5rem;
      }

      @include breakpoint($break-1000) {
        font-size: 3rem;
      }

      @include breakpoint($break-1200) {
        font-size: 3.3rem;
      }

      @include breakpoint($break-1300) {
        font-size: 3.5rem;
      }
    }

    h5 {
      text-align: center;
      font-family: $sub-headline-font;
      font-size: 1.2rem;

      @include breakpoint($break-600) {
        font-size: 1.25rem;
      }

      @include breakpoint($break-1000) {
        font-size: 1.375rem;
      }

      @include breakpoint($break-1200) {
        font-size: 1.45rem;
      }

      @include breakpoint($break-1300) {
        font-size: 1.5rem;
      }
    }

    .work-item-top-img {
      background-color: transparent;
      margin: 3rem auto;
      padding-bottom: 0;

      @include breakpoint($break-750) {
        margin: 3rem auto 4.5rem;
      }
    }

    .work-item-img {
      margin: 3rem 0;

      @include breakpoint($break-750) {
        margin: 5rem 0;
      }
    }

    .work-item-img-rounded {
      border-radius: $border-radius;
    }

    .work-item-content-img {
      margin-top: 2.5rem;
    }

    .work-item-text-container {
      margin-bottom: 5rem;

      .work-item-text-content {
        max-width: 44rem;
        margin: 0 auto;
      }

      .work-item-section-heading {
        font-size: 1.35rem;
        padding-bottom: .75rem;
        border-bottom: 1px solid $border-color;
        margin-bottom: .75rem;

        @include breakpoint($break-600) {
          font-size: 1.5rem;
        }

        @include breakpoint($break-750) {
          font-size: 1.625rem;
        }
      }

      .work-item-overview-wrap {
        display: flex;
        padding-bottom: 0.5rem;
        border-bottom: 1px dashed rgba($border-color, .375);
        margin-bottom: 0.5rem;
        align-items: baseline;

        &:last-of-type {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }

      .work-item-ov-left {
        min-width: 6.75rem;
        font-size: .8rem;
        text-transform: uppercase;

        @include breakpoint($break-750) {
          min-width: 8rem;
          font-size: .875rem;
        }
      }

      .work-item-text {
        margin-top: 1.5rem;
      }

      .work-item-text:first-of-type {
        margin-top: 0;
      }
    }

    .work-item-text {
      margin: 0 auto;
    }

    p, li {
      font-size: 1.05rem;
      line-height: 1.65;

      @include breakpoint($break-750) {
        font-size: 1.125rem;
      }
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}


/* ******************************************
Work Items: Urbanimmersive
****************************************** */
.work-item-urban.work-item-container {
  .work-item-img img {
    border: 1px solid rgba(white, .3);
    box-shadow: 0 0 5px rgba(white, .15);
  }

  .work-item-mobile-img {
    img {
      margin: 0 auto 3rem;

      @include breakpoint($break-750) {
        margin: 0 auto 5rem;
      }
    }

    @include breakpoint($break-600) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      margin: 5rem auto;

      img {
        margin: 0 auto;

        &:nth-child(1) {
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }
  }
}
