/* ******************************************
Work Items (Individual Work Entries)
****************************************** */
.work-item-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 12rem auto 5rem;

  .work-item-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 2em;
      line-height: 1.3;
      margin-bottom: .5rem;

      @include breakpoint($break-600) {
        font-size: 2.25em;
      }

      @include breakpoint($break-1000) {
        font-size: 2.5em;
      }

      @include breakpoint($break-1300) {
        font-size: 2.75em;
      }
    }

    h5 {
      font-family: $sub-headline-font;
      font-size: 1.2em;

      @include breakpoint($break-600) {
        font-size: 1.25em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.375em;
      }

      @include breakpoint($break-1300) {
        font-size: 1.45em;
      }
    }

    .work-item-img {
      background-color: #B8B8B8;
      height: 500px;
      border-radius: 8px;
      padding: 1rem;
      margin: 2.5rem 0;
    }

    p {
      font-size: .9em;
      line-height: 1.6;

      @include breakpoint($break-500) {
        font-size: 1em;
      }

      @include breakpoint($break-600) {
        font-size: 1.1em;
      }

      @include breakpoint($break-600) {
        font-size: 1.2em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.25em;
      }
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}
