/* ******************************************
Work Items (Individual Work Pages)
****************************************** */
.work-item-container {
  display: grid;
  padding: 0 1.25rem;
  max-width: $max-width;
  margin: 12rem auto 7rem;

  .work-item-content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      font-size: 2em;
      line-height: 1.3;
      margin-bottom: .5rem;

      @include breakpoint($break-400) {
        font-size: 2.25em;
      }

      @include breakpoint($break-600) {
        font-size: 2.5em;
      }

      @include breakpoint($break-1000) {
        font-size: 3em;
      }

      @include breakpoint($break-1300) {
        font-size: 3.5em;
      }
    }

    h5 {
      font-family: $sub-headline-font;
      font-size: 1.2em;

      @include breakpoint($break-600) {
        font-size: 1.25em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.375em;
      }

      @include breakpoint($break-1300) {
        font-size: 1.45em;
      }
    }

    .work-item-top-img {
      background-color: transparent;
      margin: 3rem 0;
      padding-bottom: 0;
    }

    .work-item-img {
      margin: 5rem 0;
    }

    .work-item-text {
      margin: 5rem 0;

      @include breakpoint($break-750) {
        margin: 8rem 0;
      }
    }

    p {
      font-size: 1.1em;
      line-height: 1.7;

      @include breakpoint($break-750) {
        font-size: 1.2em;
      }

      @include breakpoint($break-1000) {
        font-size: 1.3em;
      }
    }

    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}


/* ******************************************
Work Items: Urbanimmersive
****************************************** */
.work-item-urban.work-item-container {
  .work-item-img img {
    border: 1px solid rgba(white, .3);
    box-shadow: 0 0 5px rgba(white, .15);
  }

  .work-item-mobile-img {
    img {
      margin: 0 auto 5rem;
    }

    @include breakpoint($break-600) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      margin: 5rem auto;

      img {
        margin: 0 auto;

        &:nth-child(1) {
          margin-right: 0;
        }

        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }
  }
}
