@font-face {
	font-family: 'jlaw-icons';
	src:url('fonts/jlaw-icons.eot?-tuycs4');
	src:url('fonts/jlaw-icons.eot?#iefix-tuycs4') format('embedded-opentype'),
		url('fonts/jlaw-icons.woff?-tuycs4') format('woff'),
		url('fonts/jlaw-icons.ttf?-tuycs4') format('truetype'),
		url('fonts/jlaw-icons.svg?-tuycs4#jlaw-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'jlaw-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon_previous:before {
	content: "\e601";
}
.icon-icon_next:before {
	content: "\e602";
}
.icon-icon_grid:before {
	content: "\e605";
}
